* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e2d686;
    --secondary-color: #877b66;
    --secondary-color_1: #664100;
    --accent1-color: #ffdf64;
    --accent2-color: #3ea0c4;
    --accent2-color_1: #3b768c;
    --accent2-color_2: #3cfbe5;
    --accent3-color: #afc97e;
}

header {
    /* background-color: rgba(226,214,134); */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 0.5rem;
    align-items: center;
    /* border-bottom: 1px solid var(--secondary-color); */
    max-width: 1000px;
}

nav a, footer a {
    text-decoration: none;
    color: var(--accent2-color_1);
}

nav a:hover {
    text-decoration: underline solid var(--accent2-color_1);
}

nav a {
    /* text-shadow: rgba(60,251,229,1) 3px 3px 3px; */
    font-weight: 500;
}

h1 {
    color: var(--accent2-color_2);
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

h2 {
    /* color: var(--secondary-color_1); */
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    grid-column: 1 / -1;
    margin: 1rem;
}

h3 {
    /* color: var(--secondary-color_1); */
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    /* text-align: left; */
    grid-column: 1 / -1;
    margin: 1rem;
}

p, .equip figcaption, 
form, input, textarea,
footer a {
    font-family: "Big Shoulders", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    margin: 0 1.3rem 1rem 1rem;
}

option {
    align-self: center;
    padding-left: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    /* vertical-align: center; */
    margin-right: 0.5rem;
}

fieldset {
    border: none;
}

footer {
    border-top: 4px dashed var(--accent2-color_1);
    max-width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--accent2-color_1);
    margin: 1rem 0px;
}

/* Class Selectors */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo-box {
    /* margin: 0 0.25rem 0 1rem; */
    /* width: 35px; */
    height: auto;
}

.logo-box img {
    width: 180px;
    height: auto;
}

.nav-bar {
    align-items: center;
    font-family: "Big Shoulders", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.hero {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 600px;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    object-fit: cover;
    background-color: rgba(102,65,0,0.8);
    font-size: 70px;
    top: 65px;
    width: 100%;
    padding: 10px 0 10px 0;
}

.hero p {
    padding: 1rem 2rem 1rem 1rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: 300;
    color: whitesmoke;
}

.hero article {
    position: relative;
    background-color: rgba(59,118,140,0.9);
    top: 225px;
    left: 15%;
    right: 15%;
    border: 1px solid var(--secondary-color);
    padding: 0.65rem;
    width: 75%;
    overflow: hidden;
}

.hero article img {
    width: auto;
    height: 190px;
    margin: 0.5rem 0.5rem;
    float: right;
    position: relative;
    z-index: 9999;
}

.history-section {
    background-color: #f4ffcc /* rgba(175,201,126,0.3) */;
    /* margin: 2rem 2rem 2rem 2rem; */
    padding-top: 25px;
    display: grid;
    grid-template-columns: 2fr 20% 2fr;
    justify-content: center;
    align-items: center;
}

.history-section h2 {
    color: #347289;
}

.left {
    padding-left: 6rem;
}

.history-section img {
    justify-self: center;
    padding-bottom: 4rem;
}

.right {
    padding-right: 6rem;
    text-align: right;
}

.text {
    color: #347289 /* var(--accent2-color) */;
    padding-bottom: 4rem;
    font-weight: 400;
}

.adventure-section {
    background-color: rgba(255,223,100,0.3);
    padding: 25px 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
}

.adventure-section h2 {
    color: var(--secondary-color_1);
}

.equip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.equip img {
    height: 200px;
    width: auto;
    margin-bottom: 0.5rem;
    border: 5px dotted var(--secondary-color_1);
}

.equip figcaption {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color_1);
}

.social-media {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.social-media img {
    width: 35px;
    height: auto;
    /* padding-left: 2px; */
}

.first-section {
    background: linear-gradient(135deg, #afc97e, var(--primary-color) 70%);
    padding: 100px 2rem 2rem 2rem;
    /* height: 400px; */
    display: grid;
    grid-template-columns: 45% 5% repeat(3, 1fr);
    /* grid-gap: 2rem; */
}

.first-section h1 {
    color: var(--secondary-color_1);
    /* font-weight: 200; */
    font-size: 6rem;
    line-height: 5rem;
    text-align: right;
    grid-column: 1 / 2;
}

.contact-us h2, .visit-us h2, .visit-us h3 {
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255,0.5) 0.5px 0.5px 0.5px;
}

.contact-us h2, .visit-us h2 {
    padding-bottom: 2rem;
}

.visit-us h3 {
    font-size: 1.7rem;
}

.agent_img {
    width: 200px;
    height: auto;
}

.agents-1 {
    grid-column: 3 / 4;
}

.agents-2 {
    grid-column: 4 / 5;
}

.agents-3 {
    grid-column: 5 / 6;
}

.agent-name {
    font-size: 1.8rem;
}

.role {
    /* font-weight: 400; */
    font-size: 1.3rem;
    margin-top: -0.5rem;
}

.agent-name, .role {
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255, 0.7) 0.5px 0.5px 0.5px;
}

.second-section {
    background: linear-gradient(35deg, #afc97e, #e2d686);
    padding: 50px 4rem 4rem 4rem;
    display: grid;
    grid-template-columns: 45% 5% 1fr;
    /* grid-gap: 2rem; */
}

.contact {
    grid-column: 1 / 2;
}

.visit-us {
    grid-column: 3 / -1;
}

.questions {
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
    gap: 0.5rem;
}

.questions label {
    grid-column: 1 / 2;
    text-shadow: #fff 0.5px 0.5px 0.5px;
}

#name, #email, #message {
    width: 100%;
    padding: 0.5rem 1rem;
    grid-column: 2 / 3;
}

.field-contact {
    width: 100%;
    height: auto;
    display: grid;
    gap: 1.5rem;
}

.field-purpose legend {
    padding-top: 2rem;
    text-shadow: #fff 0.5px 0.5px 0.5px;
}

.field-purpose {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    text-shadow: #fff 0.5px 0.5px 0.5px;
}

.field-message {
    width: 100%;
}

.checkbox {
    /* display: grid;
    grid-template-columns: 30px 1fr; */
    align-items: center;
}

.checkbox label {
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: rgba(255,255,255, 0.7) 0.5px 0.5px 0.5px;
    /* vertical-align: top; */
    /* grid-column: 2 / 3; */
}

.submit_button {
    background-color: var(--secondary-color_1);
    background-image: linear-gradient(
        to top left,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.4) 30%,
        rgba(0,0,0,0)
    );
    font-size: 1.3rem;
    text-align: center;
    text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
    color: white;
    border: 0;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

.submit_button:hover {
    background-color: var(--accent2-color_1);
}

#map {
    width: 100%;
    height: 380px;
    margin-top: 1rem;
}

.company-info-section {
    /* height: 100%; */
    display: grid;
    grid-template-rows: 40% repeat(3, 1fr);
    gap: 0.8rem;
    justify-content: space-around;
}

.map-caption {
    margin-top: 0.5rem;
    line-height: 1.7rem;
    font-weight: 300;
    text-shadow: rgba(255,255,255, 0.7) 0.5px 0.5px 0.5px
}

.company-info p {
    margin-top: -0.3rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-shadow: rgba(255,255,255, 0.7) 0.5px 0.5px 0.5px
}

/* INDEX PAGE */

.hero-index { 
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.hero-index img {
    width: 100%;
    height: auto;
    text-shadow: rgb(0,0,0) 0px 1px 0px;
    /* justify-self: center; */
}

.hero-image-overlay {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.tagline, .hero-index-subtitle, .hero-index-paragraph {
    font-family: "Big Shoulders", sans-serif;
}

.tagline {
    margin-top: 2em;
    padding-bottom: 4em;
    position: relative;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--secondary-color_1);
}

.hero-index-title {
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: var(--accent2-color_1);
}

.hero-index-subtitle {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: var(--secondary-color_1);
}

.hero-index-paragraph {
    position: relative;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0 3em;
    margin: 3em 0 3em 0;
    color: var(--secondary-color_1);
}

/* INDEX LOWER SECTION */

.index-lower-section {
    width: 100vw;
    height: auto;
    margin-top: -0.3rem;
    background: linear-gradient(135deg, var(--accent2-color), var(--primary-color) 70%);
    display: grid;
    gap: 1rem;
    grid-template-columns: 70% 30%;
    padding: 5rem;
    box-sizing: border-box;
}

.index-left-section {
    grid-column: 1 / 2;
}

.index-pictures-grid-title {
    width: 850px;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.index-pictures-grid {
    display: grid;
    width: 850px;
    height: auto;
    grid-template-columns: repeat(2, 1fr)
    align-items: center;
    column-gap: 1rem;
}

.pictures-block-1 {
    width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    grid-column: 1 / 2;
}

.index-picture-text,
.trips-picture-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 500;
    color: var(--secondary-color_1);
    padding: 0.3rem 0.5rem;
}

.index-picture-text{
    bottom: 0.7rem;
    font-size: 1.2rem;
}

.backyard {
    position: relative;
    width: 100%;
    grid-column: 1 / -1;
}

.backyard img {
    width: 600px;
    height: 375px;
    object-fit: cover;
    object-position: 0% 15%;
}

/* Taste */

.taste {
    position: relative;
    width: 100%;
    grid-row: 2 / 3;
}

.taste img {
    width: 300px;
    height: 375px;
    object-fit: cover;
}

/* Unplug */

.unplug {
    position: relative;
    width: 100%;
    grid-row: 2 / 3;
}

.unplug img {
    width: 300px;
    height: 375px;
    object-fit: cover;
}

.pictures-block-2 {
    width: auto;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2rem;
    grid-column: 2 / 3;
}

/* Zip */

.zip {
    position: relative;
    width: 100%;
    grid-row: 1 / 2;
}

.zip img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Climbing */

.climbing {
    position: relative;
    width: 100%;
    grid-row: 2 / 3;
}

.climbing img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Trails */

.trails {
    position: relative;
    width: 100%;
    grid-row: 3 / 4;
}

.trails img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

/* Picture grid Hover effect */

.overlay-index-grid {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--accent2-color_1);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.large-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.1rem;
}

.overlay-text {
    color: white;
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 500;
    text-shadow: rgba(0,0,0,0.8) 1px 2px 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

.backyard:hover .overlay-index-grid,
.taste:hover .overlay-index-grid,
.unplug:hover .overlay-index-grid,
.zip:hover .overlay-index-grid,
.climbing:hover .overlay-index-grid,
.trails:hover .overlay-index-grid {
    bottom: 0;
    height: 100%;
}

/* Index right block */

.index-right-section {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.trips-cta {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 90%;
    border: #333 solid 2px;
    padding: 2rem 0;
    border-radius: 20px;
}

.trips-cta-title {
    margin-top: 0.8rem;
}

.trips-cta button {
    margin: 1.3rem 0;
}

.trips-cta button,
.index-form-button,
.index-button{
    width: 8.5rem;
    height: 3rem;
    background-color: #333;
    border: none;
    border-radius: 10px;
    font-family: 'Big Shoulders', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.trips-top button:hover {
    background-color: var(--accent1-color);
    color: black;
    text-decoration: underline;
    border: 3px solid var(--accent2-color_1);
    transition: all 0.3s ease;
}

.index-form-button:hover,
.trips-cta button:hover,
.trips-bottom button:hover,
.index-button:hover {
    background-color: var(--accent2-color_1);
    text-decoration: underline;
}

.newsletter-form {
    width: 90%;
    padding: 3rem 0 3rem 0;
    border: #333 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.newsletter-form p {
    line-height: 2.7rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.index-form-questions {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.index-form-questions input {
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
}

.index-form-tac {
    margin-top: 1rem;
    margin-left: -0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.index-form-tac label {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

.index-form-tac input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.index-buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* TRIPS PAGE */

.trips-top h1 {
    padding: 1.2em 1.2em;
    font-size: 4rem;
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255, 0.7) 3px 3px 2px;
    background: #AFC97E;
    background: linear-gradient(90deg,rgba(175, 201, 126, 1) 0%, rgba(60, 251, 229, 1) 50%, rgba(226, 214, 134, 1) 100%);
}

/* Trips Top */

.trips-routes-section {
    width: 100vw;
    height: auto;
    padding: 0 7em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
    box-sizing: border-box;
    background: #AFC97E;
    background: linear-gradient(90deg,rgba(175, 201, 126, 1) 0%, rgba(60, 251, 229, 1) 50%, rgba(226, 214, 134, 1) 100%);
}

.trips-routes-right {
    font-family: 'Big Shoulders', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.trips-picture-title {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255, 0.7) 3px 3px 2px;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
}

.trips-picture-description {
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1.5rem;
}

.trips-picture-prompt {
    font-size: 1.8rem;
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255, 0.7) 3px 3px 2px;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

.trips-routes-right button {
    font-family: 'Big Shoulders', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    align-self: center;
    margin: 2rem 0 2.5rem;
    background-color: #333;
    border: 3px solid #333;
    border-radius: 10px;
    color: white;
}

.trips-cascade,
.trips-lazy,
.trips-thunder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: top;
    align-items: top;
    gap: 1em;
    background-color: rgba(255,255,255,0.6) /*rgba(62,160,196,0.3)*/;
    border: 2px solid var(--secondary-color_1);
}

.trips-cascade,
.trips-lazy {
    flex-direction: column;
}

.trips-cascade .trips-picture-description,
.trips-lazy .trips-picture-description {
    padding-right: 1.5rem;
}

.trips-picture-text {
    font-size: 1.5rem;
    top: 1rem;
}

/* Thunder */

.trips-thunder {
    flex-direction: row;
}

.trips-thunder {
    position: relative;
    width: 100%;
    grid-column: 1 / 3;
}

.thunder-left {
    position: relative;
}

.thunder-left img {
    width: 800px;
    height: auto;
    object-fit: cover;
}

/* Cascade */

.trips-cascade {
    position: relative;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cascade-left {
    position: relative;
    width: 100%;
    grid-column: 1 / 2;
}

.cascade-left img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.cascade-right {
    position: relative;
    grid-column: 2 / 3;
}

/* lazy */

.trips-lazy {
    position: relative;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.lazy-left {
    position: relative;
    width: 100%;
    grid-column: 1 / 2;
}

.lazy-left img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.lazy-right {
    position: relative;
    grid-column: 2 / 3;
}

/* TRIPS MIDDLE */

.trips-middle {
    padding: 4rem 0 1rem;
    background: #AFC97E;
    background: linear-gradient(90deg,rgba(175, 201, 126, 1) 0%, rgba(60, 251, 229, 1) 50%, rgba(226, 214, 134, 1) 100%);
}

.trips-middle h2 {
    font-size: 3rem;
    color: var(--secondary-color_1);
    text-shadow: rgba(255,255,255, 0.7) 3px 3px 2px;
}

.trips-middle-subtitle {
    padding-bottom: 2rem;
    font-family: "Big Shoulders", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.trips-pricing {
    width: 100%;
    height: auto;
    background: #AFC97E;
    background: linear-gradient(90deg,rgba(175, 201, 126, 1) 0%, rgba(60, 251, 229, 1) 50%, rgba(226, 214, 134, 1) 100%);
    display: grid;
    gap: 1rem;
    grid-template-columns: 30% 40% 30%;
    padding: 1rem 17%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: white
}

thead tr {
    font-family: "Bebas Neue", sans-serif;
    background-color: var(--accent2-color_1);
    color: white;
    text-shadow: rgba(0,0,0,0.5) 2px 3px 1px;
    text-align: center;
}

thead th {
    padding: 1em 0.5em;
    font-weight: 400;
    font-size: 1.7em;
}

.trips-table-subtitle {
    font-size: .8em;
    font-weight: 200;
}

.table-price {
    font-size: 1.7em;
    font-weight: 600;
}

tbody td {
    padding: 12px 15px;
    font-family: "Big Shoulders", sans-serif;
    text-align: center;
    font-size: 1.5em;
}

tbody tr:nth-child(even) {
    background-color: rgba(135,123,102,0.8);
    color: white;
    text-shadow: rgba(0,0,0,0.5) 2px 3px 1px;
}

tbody tr:last-of-type td {
    border-bottom: none;
}

.trips-pricing-main th {
    font-size: 2em;
    font-weight: 600;
}

.trips-pricing-main td {
    font-size: 2em;
}

.trips-pricing-main .table-price {
    font-size: 2.2em;
}

.trips-pricing > table {
    align-self: center;
    height: auto;
}

.trips-pricing > table:first-child,
.trips-pricing > table:last-child {
    height: 300px;
    overflow: hidden;
}

/* Trips Bottom */

.trips-bottom {
    width: 100%;
    padding: 4rem 10rem 5rem;
    background: #AFC97E;
    background: linear-gradient(90deg,rgba(175, 201, 126, 1) 0%, rgba(60, 251, 229, 1) 50%, rgba(226, 214, 134, 1) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
}

.trips-bottom-right,
.trips-bottom-left {
    height: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: rgba(255,255,255,0.8) 1px 1px 3px;
    background-color: rgba(215,200,215,0.5);
    border: 4px dashed var(--accent2-color_1);
    border-radius: 10px;
}

/* .trips-bottom-right {
    background-image: radial-gradient(circle at 30% 40%, #65FDF0 10%, #1D6FA3 100%);
}

.trips-bottom-left {
    background-image: linear-gradient(45deg, #1D6FA3 10%, #65FDF0 100%);
} */

.trips-bottom-text {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.trips-bottom-left-cta,
.trips-bottom-right-cta {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    color: var(--accent2-color_1);
}

.trips-bottom-left-cta {
    margin-top: 0.5rem;
    font-size: 2.5rem;
}

.trips-bottom-right-cta {
    margin-top: 0.5rem;
    font-size: 2.3rem;
}

.trips-bottom button {
    font-family: "Big Shoulders", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #333;
    border: 3px solid #333;
    color: white;
    text-align: center;
}

.trips-bottom-left button {
    margin-top: 0.6rem;
    padding: 0.8rem 3rem;
    border-radius: 15px;
}

.trips-bottom-right button {
    margin: 0.3rem;
    padding: 0.8rem 4rem;
    border-radius: 35px;
}